@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Bethany's Pie Shop</a>
            </li>    
            <li class="nav-item">
                <a asp-controller="Feedback" asp-action="Index" class="nav-link">Feedback</a>
            </li>
           
            
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                      method="post" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link float-right">Log off</a></li>
                    </ul>
                </form>
            }
            else
            {
               <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link float-right">Register</a>
               </li>
               <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link float-right">Log in</a>
               </li>
            }
        </ul>
    </div>
</nav>
</div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
